<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	
	<!-- test 조회 쿼리 -->
	<select id="selectMember" resultType="java.util.HashMap">
		select
			KT_ID
			, KT_PW
			, KT_NAME
			, REG_ID
			, REG_DATE
			, UPDATE_ID
			, UPDATE_DATE
		from 
			KT_MEMBER
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="java.util.HashMap">
		INSERT INTO KT_MEMBER (
			KT_ID,
			KT_PW,
			KT_NAME,
			REG_ID,
			REG_DATE
		) VALUES (
			#{KT_ID},
			#{KT_PW},
			#{KT_NAME},
			#{REG_ID},
			now()
		)
	</insert>
</mapper>